.main-blogger {
  .blogger-list {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__item {
      width: 75%;
      display: flex;
      min-height: 178px;

      .item-img {
        max-width: 110px;
        max-height: 110px;
        margin-right: 15px;
      }

      .item-body {
        width: 100%;
      }
    }
    .blogger-list__item + .blogger-list__item {
      margin-top: 30px;
    }
  }
}

.main-blogger {
  .item-body {
    h3 {
      margin-bottom: 4px;
    }
    &__meta {
      color: #8f8f8f;
      font-size: 14px;
      margin-bottom: 2px;

      .meta-author,
      .meta-date,
      .meta-comment {
        &::after {
          content: "";
          display: inline-block;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background: #8f8f8f;
          margin-left: 0.5rem;
          margin-right: 0.5rem;
          position: relative;
          top: -3px;
        }
      }
      .meta-author {
        b {
          color: #347ea8;
        }
      }
    }
    &__intro {
      color: #4f4f4f;
      font-size: 15px;
      margin-bottom: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    &__tags {
      display: flex;
      align-items: center;

      .tags-option + .tags-option {
        margin-left: 5px;
      }
    }
    &__link {
      color: #5FCB71;
      font-size: 12px;
      background-color: transparent;
    }
  }
}
